<ul>
<%@bookmarks.each do |bookmark|%>
  <li><%=bookmark%></li>
<%end%>
</ul>

<ul>
<form method=post action='/add_new'>
  <li>
    <label for=add>Add new:</label>
    <input type=text name=url>
  </li>
  <li>
    <label>Title:</label>
    <input type=text name=title>
  </li>
  <input type=submit>
</form>
</ul>
